.gray-background {
  height: 130vh;
  width: 100vw;
  background-color: gray;
  padding-top: 5vh;

}
.btn-section {
  height:30vh;
  width: 80vw;
  margin: 0vh 7vw 5vh 10vw;
  background-color: white;
  padding-top: 5vh;
}

.text-box1 {
  height: 15vh;
  width: 70vw;
  margin: 0vh 5vw 3vh 5vw;

}

.red {
  height: 8vh;
  width: 16vw;
  background-color: red;
  color: white;
  font-size: 30px;
  margin: 0 2vw 0 5vw
}

.blue {
  height: 8vh;
  width: 16vw;
  background-color: blue;
  color: white;
  font-size: 30px;

}

.image-section {
  height: 80vh;
  width: 80vw;
  margin: 0vh 7vw 5vh 10vw;
  background-color: white;
  padding-top: 2px;

}

.image-box {
  height: 45vh;
  width: 70vw;
  background-color: black;
  margin: 5vh 5vw 5vh 5vw;
  display: flex;
  align-items: center;
  justify-content: center;
}

h2 {
  color: white;
  text-align: center;
  font-size: 50px;
}

.text-box2 {
  height: 15vh;
  width: 70vw;
  margin: 0vh 5vw 3vh 5vw;

}



footer {
  height: 10vh;
  width: 100vw;
  background-color: black;
  position: absolute;
}

.tech-co {
  color: white;
  float: right;
  display: inline-block;;
  font-size: 20px;
  padding: 4px;
}

.float-right {
  float: right;
  margin: 14px 80px 14px 14px;
}
